.controls {
    width: 90%;         
    max-width: 100%;        
    margin: 0 auto;          
    padding: 1em;             
    box-sizing: border-box;   
    overflow-x: auto;          
    white-space: nowrap;       
    gap: 1em;                  
  }
  

  @media (max-width: 450px) {
    .controls {
      flex-direction: column; 
      align-items: center;  
      gap: 0.5em;              
    }
  
    .controls .dropdown-toggle {
      width: 100%;             
      text-align: center;       
    }
  }
  